/*------------ Mobile view------------------------------ */

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
   
    height: auto;
    background-color: white;
    gap: 0.5px;
    grid-template-areas: 
    "head"
    "hero"
    "body"
    "footer";
    
}
h1{
    font-size: 3.5vh !important;
}
.header{
    background-color: black;
    grid-area: head;
    height: 10vh;
    background-color: darkgoldenrod;
}
.header-img{
    height: 8vh;
}
.rick-roll{
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-decoration: unset;
    
}
.rick-roll:hover{
    font-family: 'Caveat', cursive;
    color: white;
    
}
.search-bar {
    width: 10vh;
    transition: width 0.4s ease-in-out;
    border-radius: 15px;
    background-color: darkgrey;
    text-align: center;
   
  }
  
  .search-bar:hover {
    width: 15vh;
   
  }

  /* Body flexbox */
    .body {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .article-listing{
       background-image: url(img/aabg1.jpg);
       background-color: rgb(148, 150, 148);
       background-repeat: no-repeat;
        flex-direction: row;
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        width: 100%;
        height: 70vh;
        text-align: center;
        align-content: center;
        font-family: 'Fredoka One', cursive;
        font-size: 25px;
      

    }
   
    .article{
        
        font-size: 5vh;
        background-image: url(img/abbg.jpg);
        background-color: rgb(148, 150, 148);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
         flex-direction: row;
         background-size: cover;
         justify-content: center;
         align-content: center;
         background-position: center;
        text-align: center;
        width: 100%;
        height: 100%;
        font-family: 'Fredoka One', cursive;
    }
    .cup{
        height: 50vh;
        background-size: contain;

        
    }
    .text{
        font-size: 15px;
    }
    .advert-small{
        order: 1;
       
        height: 30vh;
    
    }
    .doggo{
        width: 25vh;
        
        
    }
    .advert-small{ order: 1;}
    .article-listing{order: 2;}
    .article{order: 0;}
    .hide-img{
        display: flex;
        justify-content: center;
    }
    .hideimg{
        padding-left: 10px;
    }
    .desktop{
        display: none;
    }
   .mobile{
       font-size: 5vh;
       text-align: center;
   }

    /* Body flexbox end*/
/*------ body -----*

    .body {
        display: flex;
        flex-direction: column;
        
    }
    .article-listing{
        background-color: blanchedalmond;
        flex-direction: row;

    }
    .article{
        flex-direction: row;
        background-color: blue;
    }
/*------ body end -----*/
/*.body{
    display: grid;
    grid-area: body;
    width: 100vw;
   height: 100vh;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1vh;
    grid-template-areas: "article"
    
    "advertsm"
    "articlelist"
    ;
    justify-items: center;
    align-items: center;
}
.facts{
   
    justify-items: center;
}
.article-listing{
    background-image: url(img/facts.jpg);
    
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
    grid-area: article;
    font-family: 'Caveat', cursive;
    text-align: center;
}
.cool-facts::before{
    content: "";
}
 .cool-facts{
    background-image: url(img/facts.jpg);
    
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
     
    grid-area: articlelist;
}*/

.doggo{
    width: 25vh;
    
    
}
.sidebar{
    width: auto;
    grid-area: sidebar;
    display: none;
    font-family: 'Caveat', cursive;

    
}

.cool-site{
    text-align: center !important;
}
.navbar{
    height: 10vh;
}
#searchglass{
    width: 3vh;
}

.image-call{
    
    grid-area: hero;
    height: 25vh;
    


}

 
.hideimg{
    display: none;
    width: 5vh;
}



.footer{
    width:auto;

    height:  5vh;
    background-color: black;
    grid-area: footer;
    text-align: center;
    color: white;
    
    
}
.advert{
    display: none;
}
.advert-middle{
    display: none;

}
/*-*------------ Mobile view end------------------------------ */
 /* ----------------------Tablet view-------------- */
@media (min-width: 576px) { 
    .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        height: auto;
        width:auto;
        background-color: white;
        grid-template-areas: 
        "head head head"
        "hero hero hero"
        "body body body"
        "sidebar sidebar sidebar"
        "footer footer footer";
        
        }
        
      /* Body flexbox */
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .article-listing{
       background-image: url(/img/aabg1.jpg);
       background-color: rgb(148, 150, 148);
       background-repeat: no-repeat;
        flex-direction: row;
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        font-size: 25px;
        color: white;
      

    }
   
    .article{
        
        font-size: 5vh;
        background-image: url(/img/abbg.jpg);
        background-color: rgb(148, 150, 148);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
         flex-direction: row;
         background-size: cover;
         justify-content: center;
         background-position: center;
        text-align: center;
        width: 100%;
        height: 100%;
        font-family: 'Fredoka One', cursive;
        color: white;
    }
    .cup{
        height: 40vh;
        background-size: contain;

        
    }
    
  
    
    .article-listing{order: 2;}
    .article{order: 1;}
    .hide-img{
        display: flex;
        justify-content: center;
    }
    .hideimg{
        padding-left: 10px;
    }
    .desktop{
        display: none;
    }
   .mobile{
       font-size: 5vh;
       text-align: center;
   }
   .cool-facts{
      display: grid;
      grid-template-columns: 80% 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cup ad";
      
   }
  .cup{
      grid-area: cup;
      justify-self: center;
      
      
  }
  .advert-middle{
      grid-area: ad;
      justify-self: end;

  }

   .doggo{
       width: 100px;
    
       
   }
  
   

    /* Body flexbox end*/
     
     .sidimg{
         display: none;
     }
     .hideimg{
         display: unset;
         width: 5vh;
         
     }
    .sidebar11{
        padding-top: 10px;
    }
    .body{
        grid-area: "body";
        align-items: center;
        justify-items: center;
    }
    .sidebar{
        grid-area: sidebar;
        display: unset;
        height:  15vh;
        width: 100%;
        justify-items: center;
        align-items: center;
       
 }
 .advert-small{
     display: none;
 }
 .footer{
    width:auto;
    height:  5vh;
    background-color: black;
    grid-area: footer;
    text-align: center;
    color: white;
    
    
}
    
    /* .article-listing{ 
        height: 40vh;
        
    }*/
    }
    /* ----------------------Tablet view end-------------- */


    /* -----------------Desktop view --------------------------*/
@media (min-width: 992px) {
   
    
    .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        height: 100%;
        width: 100%;
        background-color: white;
        grid-template-areas: 
        "head head head"
        "hero hero advert"
        "body body sidebar"
        "footer footer footer";
        
        }
         /* Body flexbox */
    .body {
        grid-area: body;
        display: flex;
        flex-direction: row;
        width: 1fr;
    }
    .article-listing{
        
       background-image: url(img/aabg1.jpg);
       background-color: rgb(148, 150, 148);
       background-repeat: no-repeat;
        flex-direction: column;
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        width: 70%;
        height: 100%;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        font-size: 15px;
    }
   
    .article{
        
        background-image: url(img/abbg.jpg);
        background-color: rgb(148, 150, 148);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
         flex-direction: column;
         background-size: cover;
         justify-content: center;
         background-position: center;
        text-align: center;
        width: 50%;
        
        font-family: 'Fredoka One', cursive;
    }
    .cup{
        height: 50vh;

        
    }
    .advert{
        grid-area: advert;
        display: unset;
        background-image: url(img/strwrscf.jpg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        
        
        font-size: 3vh;
        
    }
  

    /* Body flexbox end*/
        .sidebar{
            grid-area: sidebar;
            display: unset;
            width: auto;
            height: auto;
            text-align: center;
            border: 2px solid black;
            
        }
        .hide-img{
            display: none;
        }
        .sidimg{
            display: unset;
            width: 6vh;
            padding-bottom: 5vh;
            transform: scale(1);
        }
        .sidimg:hover{
            transform: scale(1.5);
            fill: brown;
        }
        .sidebar11{
            padding-top: 10px;
        }
        .advert{
           
            grid-area: advert;
            display: unset;
            height:  20vh;
            width: auto;
           padding-top: 15vh;
           font-family: 'Fredoka One', cursive;
            
            
        }
        .cat-link{
            background-color: white;
            opacity: 50%;
            color: #000000f5;
        }
        .cat-link:hover{
            color: black;
            background-color: bisque;
            border-radius: 8px 8px 8px 8px;
            opacity: 70%;
           }
     
        .advert-small{
            display: none;
        }
       
        /* .article-listing{ 
            background-image: url(img/facts.jpg);
            background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
            grid-area: article-listing;
            text-align: center;
            font-family: 'Indie Flower', cursive;

        }*/
        .facts{
            display: none;
        }
        /* .article{
             
            grid-area: article;
            text-align: center;
            font-family: 'Indie Flower', cursive;
        }*/
        
 

 }
 /* -----------------Desktop view-end --------------------------*/



/*Bootstrap Video*/
header {
    
    margin-left: 1px;
    position: relative;
    background-color: black;
    height: 25vh;
    min-height: 25vh;
    
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none){
    header {
      background: url(img/robertnelson.jpg) black no-repeat center center scroll;
      
    }
    header video {
      display: none;
    }
  }
/*Video--end----------------------------------------*/