/*------------ Mobile view------------------------------ */

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    width: 100vw;
    height: 100vh;
    background-color: white;
    gap: 1vh;
    grid-template-areas: 
    "head"
    "hero"
    "body"
    "footer";
    
}
h1{
    font-size: 3.5vh !important;
}
.header{
    background-color: black;
    grid-area: head;
    height: 10vh;
    background-color: darkgoldenrod;
}
.header-img{
    height: 8vh;
}
.rick-roll{
    font-family: 'Caveat', cursive;
    color: #ffffff;
    text-decoration: unset;
    
}
.rick-roll:hover{
    font-family: 'Caveat', cursive;
    color: white;
    
}
.search-bar {
    width: 10vh;
    transition: width 0.4s ease-in-out;
    border-radius: 15px;
    background-color: darkgrey;
    text-align: center;
   
  }
  
  .search-bar:hover {
    width: 20vh;
   
  }

  /* Body flexbox */
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .article-listing{
       background-image: url(img/aabg1.jpg);
       background-color: rgb(148, 150, 148);
       background-repeat: no-repeat;
        flex-direction: row;
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        width: 100%;
        height: 70vh;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        font-size: 25px;
      

    }
   
    .article{
        
        font-size: 5vh;
        background-image: url(img/abbg.jpg);
        background-color: rgb(148, 150, 148);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
         flex-direction: row;
         background-size: cover;
         justify-content: center;
         background-position: center;
        text-align: center;
        width: 100%;
        height: 100%;
        font-family: 'Fredoka One', cursive;
    }
    .cup{
        height: 50vh;
        background-size: contain;

        
    }
    .advert-small{
        order: 1;
        justify-items: center;
        height: 10vh;
    
    }
    .doggo{
        width: 25vh;
        
        
    }
    .advert-small{ order: 1;}
    .article-listing{order: 2;}
    .article{order: 0;}
    .hide-img{
        display: flex;
        justify-content: center;
    }
    .hideimg{
        padding-left: 10px;
    }
    .desktop{
        display: none;
    }
   .mobile{
       font-size: 5vh;
       text-align: center;
   }

    /* Body flexbox end*/
/*------ body -----*

    .body {
        display: flex;
        flex-direction: column;
        
    }
    .article-listing{
        background-color: blanchedalmond;
        flex-direction: row;

    }
    .article{
        flex-direction: row;
        background-color: blue;
    }
/*------ body end -----*/
/*.body{
    display: grid;
    grid-area: body;
    width: 100vw;
   height: 100vh;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1vh;
    grid-template-areas: "article"
    
    "advertsm"
    "articlelist"
    ;
    justify-items: center;
    align-items: center;
}
.facts{
   
    justify-items: center;
}
.article-listing{
    background-image: url(img/facts.jpg);
    
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
    grid-area: article;
    font-family: 'Caveat', cursive;
    text-align: center;
}
.cool-facts::before{
    content: "";
}
 .cool-facts{
    background-image: url(img/facts.jpg);
    
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
     
    grid-area: articlelist;
}*/
.advert-small{
    grid-area: advertsm;
    justify-items: center;
    height: 10vh;

}
.doggo{
    width: 25vh;
    
    
}
.sidebar{
    grid-area: sidebar;
    display: none;
    font-family: 'Caveat', cursive;

    
}

.cool-site{
    text-align: center !important;
}
.navbar{
    height: 10vh;
}
#searchglass{
    width: 3vh;
}

.image-call{

    grid-area: hero;
    height: 25vh;
    padding: 2px;


}
.advert{
    grid-area: advert;
    display: none;
    background-image: url(img/strwrscf.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    
    
    font-size: 3vh;
    
}
 
.hideimg{
    display: unset;
    width: 5vh;
}



.footer{
    height:  5vh;
    background-color: black;
    grid-area: footer;
    text-align: center;
    color: white;
    
    
}
/*-*------------ Mobile view end------------------------------ */
 /* ----------------------Tablet view-------------- */
@media (min-width: 576px) { 
    .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        height: 100vh;
        background-color: white;
        grid-template-areas: 
        "head head head"
        "hero hero hero"
        "body body body"
        "sidebar sidebar sidebar"
        "footer footer footer";
        
        }
        .sidebar{
            grid-area: sidebar;
            display: unset;
            height:  15vh;
            width: 100vw;
            justify-items: center;
            align-items: center;
           
     }
     
     .sidimg{
         display: none;
     }
     .hideimg{
         display: unset;
         width: 5vh;
         
     }
    .sidebar11{
        padding-top: 10px;
    }
    .body{
        grid-area: "body";
        align-items: center;
        justify-items: center;
    }
   
    .doggo{
        width: 20vw;
    }
    /* .article-listing{ 
        height: 40vh;
        
    }*/
    }
    /* ----------------------Tablet view end-------------- */


    /* -----------------Desktop view --------------------------*/
@media (min-width: 992px) {
   
    
    .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        height: 100vh;
        background-color: white;
        grid-template-areas: 
        "head head head"
        "hero hero advert"
        "body body sidebar"
        "footer footer footer";
        
        }
         /* Body flexbox */
    .body {
        display: flex;
        flex-direction: row;
        
    }
    .article-listing{
       background-image: url(img/aabg1.jpg);
       background-color: rgb(148, 150, 148);
       background-repeat: no-repeat;
        flex-direction: column;
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        width: 50%;
        height: 70vh;
        text-align: center;
        font-family: 'Fredoka One', cursive;

    }
   
    .article{
        
        background-image: url(img/abbg.jpg);
        background-color: rgb(148, 150, 148);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
         flex-direction: column;
         background-size: cover;
         justify-content: center;
         background-position: center;
        text-align: center;
        width: 50%;
        height: 70vh;
        font-family: 'Fredoka One', cursive;
    }
    .cup{
        height: 50vh;

        
    }
  

    /* Body flexbox end*/
        .sidebar{
            grid-area: sidebar;
            display: unset;
            width: 15vw;
            height: auto;
            text-align: center;
            border: 2px solid black;
            
        }
        .hide-img{
            display: none;
        }
        .sidimg{
            display: unset;
            width: 6vh;
            padding-bottom: 5vh;
            transform: scale(1);
        }
        .sidimg:hover{
            transform: scale(1.5);
            fill: brown;
        }
        .sidebar11{
            padding-top: 10px;
        }
        .advert{
            grid-template-columns: 1fr 1fr;
            display: grid;
            grid-area: advert;
            display: unset;
            height:  25vh;
            width: 15vw;
           padding-top: 15vh;
           font-family: 'Fredoka One', cursive;
            
            
        }
        .cat-link{
            background-color: white;
            opacity: 50%;
            color: #000000f5;
        }
        .cat-link:hover{
            color: black;
            background-color: bisque;
            border-radius: 8px 8px 8px 8px;
            opacity: 70%;
           }
     
        .advert-small{
            display: none;
        }
        /* .article-listing{ 
            background-image: url(img/facts.jpg);
            background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
            grid-area: article-listing;
            text-align: center;
            font-family: 'Indie Flower', cursive;

        }*/
        .facts{
            display: none;
        }
        /* .article{
             
            grid-area: article;
            text-align: center;
            font-family: 'Indie Flower', cursive;
        }*/
        
 

 }
 /* -----------------Desktop view-end --------------------------*/



/*Bootstrap Video*/
header {
    border: 2px solid black;
    
    position: relative;
    background-color: black;
    height: 25vh;
    min-height: 25vh;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none){
    header {
      background: url(img/robertnelson.jpg) black no-repeat center center scroll;
      
    }
    header video {
      display: none;
    }
  }
/*Video--end----------------------------------------*/